.notification {
	width:500px;
	bottom:0px;
	right:0px;
	display:block;
	position:fixed;
	z-index:5000;
	display:block;
	box-sizing:border-box;
	text-align:left;
	font-size:12px;
	padding:10px;
	margin:0 5px 5px;
	color:#fff;
	background:#44a4fc;
	border-left:5px solid #187fe7;
}
.warn {
	background:#ffb648;
	border-color:#f48a06;
}
.error {
	background:#e54d42;
	border-color:#b82e24;
}
.success {
	background:#68cd86;
	border-color:#42a85f;
}

.status {
	padding:10px;
	border-radius:3px;
}
.config {
	padding:5px;
}
